
/*   ############# leaflet ################## */
  
  .leaflet-popup-content-wrapper{
 	background-color:rgba(39, 52, 65, 0.69);
 	border-radius:10px;
 	color:white;
 	font-family: "Open Sans";
 }
 
 .leaflet-popup-tip{
 	background-color:rgba(53, 61, 68, 0.7);
 }

 .leaflet-popup-content{
 	padding:20px;
 	min-width:350px;
 	padding-bottom:40px;
 }
/*   ############################### */


 #menu a.btn-success{
	border-color: #82b440;
}

 .popup-info-profil{
 	width:100%;
 	text-align:center;
 	font-size:16px;
 }
 .popup-info-profil-thumb-lbl{
 	float:left;
 	width:100%;
 	text-align:center;
 }
 .popup-info-profil-thumb{
 	border-radius:190px;
 	border-width:6px;
 	border-color:yellow;
 	border-style:solid;
 }
 .popup-info-profil-username{
 	width:100%;
 	text-transform:capitalize;
 	text-align:center;
 	font-size:30px;
 	color:yellow;
 }
 .popup-info-profil-usertype{
 	width:100%;
 	text-align:center;
 	text-weight:bold;
 	text-transform:capitalize;
 	font-size:22px;
 }
 .popup-info-profil-work{
 	width:100%;
 	text-align:center;
 	font-size:18px;
 	text-transform:capitalize;
 }
 a.popup-info-profil-url{
 	float:left;
 	margin-top:10px !important;
 	width:100% !important;
 	text-align:center !important;
 	font-size:14px !important;
 	color:#2aa0bd !important;
 }
 .modal-lg {
    width: 90%;
  }
 .modal-dialog {
 	height: 90%;
 }
  .modal-content{
 	height: 100%;
 }
 .modal-body{
 	height: 95%;
 }